<app-project-header/>

<div *ngIf="gameState" class="main-container">
    <div>
        <section class="game-container">
            <div class="players-container">
                    <ol>
                        <ng-container *ngFor="let team of gameState.gameConfig.teams; let i = index">
                            <li [id]="(i === gameState.currentPlayerTurn) ? 'current-player' : ''">{{team.name}}</li>
                        </ng-container>
                    </ol>
            </div>

            <div class="dice-container">
                <div class="card-info">
                    <h3 *ngIf="gameState.gameConfig.classicDice.isBalanced" class="dice-header card-info-text">{{gameState.classicCards.length}} / 36</h3>
                    <h3 *ngIf="gameState.gameConfig.eventDice.isBalanced" class="dice-header card-info-text">{{ gameState.eventCards.length }} / 6</h3>
                </div>

                <button (click)="rollDice()" id="roll-button">Dice</button>
                <button (click)="rollDice(true)" id="alchemist-button" class="small-btn">Alchemist</button>
            </div>

            <div class="ship-container">
                <div class="current-roll">
                    <div id="current-roll-player">
                        {{lastPlayer?.name}}
                    </div>
                    <b class="spacer">
                        |
                    </b>
                    <catan-dice-roll class="flex-container" [diceRoll]="currentRoll"/>
                </div>
                <div class="ship-display">
                    <ng-container *ngFor="let _ of [].constructor(gameState.gameConfig.maxShipTurns); let i = index">
                        <img *ngIf="i === gameState.currentShipTurn" class="ship-tile-current" src="assets/catan/e_2b.svg" alt="">
                        <div *ngIf="i !== gameState.currentShipTurn"
                             [ngClass]="i === gameState.gameConfig.maxShipTurns - 1 ? 'ship-tile-last' : 'ship-tile'"></div>
                    </ng-container>
                    <p *ngIf="gameState.currentShipTurn === gameState.gameConfig.maxShipTurns - 1" id="attack">CHARGE</p>
                </div>
            </div>
        </section>

        <div class="game-actions">
            <button class="small-btn" (click)="toggleChart()">History</button>
            <button *ngIf="authService.isAdmin()" class="small-btn" (click)="openSavePopup()">Save</button>
        </div>
    </div>

    <catan-histogram [isVisible]="showChart" [diceRolls]="gameState.diceRolls"/>
</div>

<catan-save-popup #savePopup *ngIf="gameState" [teams]="gameState.gameConfig.teams"></catan-save-popup>
