<app-project-header/>

<div *ngIf="gameState" class="main-container">
    <div>
        <section class="game-container">
            <div class="flex-container2" id="player-turn">
                <div id="list2">
                    <ol>
                        <ng-container *ngFor="let team of gameState.gameConfig.teams; let i = index">
                            <li [id]="(i === gameState.currentPlayerTurn) ? 'turn' : ''">{{team.name}}</li>
                        </ng-container>
                    </ol>
                </div>
            </div>

            <div id="buttons-flex">
                <div class="card-info">
                    <h3 *ngIf="gameState.gameConfig.classicDice.isBalanced" class="dice-header card-info-text">{{gameState.classicCards.length}} / 36</h3>
                    <h3 *ngIf="gameState.gameConfig.eventDice.isBalanced" class="dice-header card-info-text">{{ gameState.eventCards.length }} / 6</h3>
                </div>

                <button (click)="rollDice()" id="roll-button">Dice</button>
                <button (click)="rollDice(true)" id="alchemist-button" class="small-btn">Alchemist</button>
            </div>

            <div class="flex-container2">
                <div class="current-turn">
                    <div id="current-turn-player">
                        <p class="mt-3">{{lastPlayer?.name}}</p>
                    </div>
                    <b class="spacer">
                        |
                    </b>
                    <catan-dice-roll class="flex-container" [diceRoll]="currentRoll"/>
                </div>
                <div class="ship-flex">
                    <ng-container *ngFor="let _ of [].constructor(gameState.gameConfig.maxShipTurns); let i = index">
                        <img *ngIf="i === gameState.currentShipTurn" class="ship-tile-current" src="assets/catan/e_2b.svg">
                        <div *ngIf="i !== gameState.currentShipTurn"
                             [ngClass]="i === gameState.gameConfig.maxShipTurns - 1 ? 'ship-tile-last' : 'ship-tile'"></div>
                    </ng-container>
                    <p *ngIf="gameState.currentShipTurn === gameState.gameConfig.maxShipTurns - 1" id="attack">CHARGE</p>
                </div>
            </div>
        </section>

        <div class="game-actions">
            <button class="small-btn" (click)="toggleChart()">History</button>
            <button class="small-btn" (click)="openSavePopup()">Save</button>
        </div>
    </div>

    <catan-histogram [isVisible]="showChart" [diceRolls]="gameState.diceRolls"/>
</div>

<!--
<app-test []> </app-test>
--->

<catan-save-popup #savePopup *ngIf="gameState" [teams]="gameState.gameConfig.teams"></catan-save-popup>
