<ng-template #savePopup>
    <form [formGroup]="saveForm" novalidate class="main-flex">
        <div *ngFor="let team of teams; let i = index" class="player-save">
            <div class="input-label">
                <label>Team</label>
                <input disabled type="text" class="form-control" [value]="team.name">
            </div>
            <div class="input-label">
                <label>Score</label>
                <input type="number" class="form-control" [formControlName]="team.name">
            </div>
        </div>

        <!--<div class="mb-3">
            <label for="winnerTeam" class="form-label">Winner</label>
            <select id="winnerTeam" formControlName="winnerTeam" class="form-select">
                <option *ngFor="let team of teams" [value]="team.name">{{team.name}}</option>
            </select>
        </div>-->
    </form>
</ng-template>
