<div class="meta">
    <div>
        <div class="meta-entry">
            <div class="meta-label">Rounds Played</div>
            <div>{{ stats().roundsPlayed }}</div>
        </div>
        <div class="meta-entry">
            <div class="meta-label">Win Rate</div>
            <div>{{ (stats().roundWinRate * 100).toFixed(2) }}%</div>
        </div>
    </div>

    <div>
        <div class="meta-entry">
            <div class="meta-label">Min Round Score</div>
            <a [routerLink]="['/games', stats().minRoundScore.gameId]">{{ stats().minRoundScore.value }}</a>
        </div>
        <div class="meta-entry">
            <div class="meta-label">Avg Round Score</div>
            <div>{{ stats().avgRoundScore.toFixed(2) }}</div>
        </div>
        <div class="meta-entry">
            <div class="meta-label">Max Round Score</div>
            <a [routerLink]="['/games', stats().maxRoundScore.gameId]">{{ stats().maxRoundScore.value }}</a>
        </div>
    </div>

    <div>
        <div class="meta-entry">
            <div class="meta-label">Min Round Duration</div>
            <a [routerLink]="['/games', stats().minRoundDuration.gameId]">{{ stats().minRoundDuration.value | duration }}</a>
        </div>
        <div class="meta-entry">
            <div class="meta-label">Avg Round Duration</div>
            <div>{{ stats().avgRoundDuration | duration }}</div>
        </div>
        <div class="meta-entry">
            <div class="meta-label">Max Round Duration</div>
            <a [routerLink]="['/games', stats().maxRoundDuration.gameId]">{{ stats().maxRoundDuration.value | duration }}</a>
        </div>
    </div>

    <div class="meta-entry">
        <div class="meta-label">Closed rate</div>
        <div>{{ (stats().closedRate * 100).toFixed(2) }}%</div>
    </div>
    <div class="meta-entry">
        <div class="meta-label">Out In One Rate</div>
        <div>{{ (stats().outInOneRate * 100).toFixed(2) }}%</div>
    </div>
</div>
