<app-main-header>
    <game-search class="w-100" ngProjectAs="middle" [showMultiGameTypes]="false"
                 (changeFiltersEvent)="searchFiltersChanged($event)"/>
</app-main-header>

<div class="main-container">
    <div class="card w-100" *ngFor="let stats of gameStats();let i = index">
        <div class="card-header">
            Stats for {{ stats.player?.name }} - CATAN
        </div>
        <div class="card-body meta">
            <div>
                <div class="meta-entry">
                    <div class="meta-label">Games Played</div>
                    <div>{{ stats.gamesPlayed }}</div>
                </div>
                <div class="meta-entry">
                    <div class="meta-label">Win Rate</div>
                    <div>{{ (stats.winRate * 100).toFixed(2) }}%</div>
                </div>
            </div>

            <div>
                <div class="meta-entry">
                    <div class="meta-label">Avg Score</div>
                    <div>{{ stats.avgScore.toFixed(2) }}</div>
                </div>
                <div class="meta-entry">
                    <div class="meta-label">Max Score</div>
                    <div>{{ stats.maxScore }}</div>
                </div>
            </div>

            <div>
                <div class="meta-entry">
                    <div class="meta-label">Nemesis <span class="fw-normal">(Worst win rate)</span></div>
                    <div>{{ (stats.nemesis ? stats.nemesis.name : "None") }}</div>
                </div>
                <div class="meta-entry">
                    <div class="meta-label">Victim <span class="fw-normal">(Best win rate)</span></div>
                    <div>{{ (stats.victim ? stats.victim.name : "None") }}</div>
                </div>
                <div class="meta-entry">
                    <div class="meta-label">Rival <span class="fw-normal">(Most played against)</span></div>
                    <div>{{ (stats.rival ? stats.rival.name : "None") }}</div>
                </div>
                <div class="meta-entry">
                    <div class="meta-label">Companion <span class="fw-normal">(Most played with)</span></div>
                    <div>{{ (stats.companion ? stats.companion.name : "None") }}</div>
                </div>
            </div>

            <!-- show correlation charts -->
            <game-correlation-chart [correlationData]="stats.startPosToScore"
                                    title='Starting Position - Score'
                                    titleX='Starting Position'
                                    titleY='Score'
            />

            <!-- dynamically render game specific stats -->
            <ng-container *ngIf="gameStatsComponent as comp">
                <ng-container *ngComponentOutlet="comp;
                            inputs: {
                                stats: stats.gameSpecific
                            }"
                />
            </ng-container>
        </div>
    </div>
    <div *ngIf="gameStats().length === 0">
        No games found
    </div>
</div>