<div class="project-header">
    <button class="btn-back" (click)="routeBack()">
        <i class="bi bi-arrow-left-circle"></i>
    </button>
    <div *ngIf="project" class="project-header-icons">
        <a *ngIf="project.githubUrl" class="btn btn-secondary" [href]="project.githubUrl" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>
        <a *ngIf="showWebsite && project.hasWebsite" [routerLink]="['/projects', project.name]" class="btn btn-primary">
            <i class="bi bi-globe2"></i>
        </a>
        <button *ngIf="showEdit && authService.isAdmin()" class="btn btn-outline-warning" (click)="editEvent.emit()">
            <i class="bi bi-pencil-square"></i>
        </button>
    </div>
</div>
