.form-container {
    gap: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.stretch {
    grid-column: span 2;
}

.area {
    height: 100px;
    resize: none;
}