<ng-template #updatePopup>
    <form [formGroup]="updateForm" novalidate class="form-container">
        <div class="grid-container">
            <div>
                <label>Name</label>
                <input class="form-control" formControlName="name" type="text">
            </div>

            <div>
                <label>Created At</label>
                <input class="form-control" formControlName="createdAt" type="date">
            </div>
        </div>

        <div class="stretch">
            <label>Title</label>
            <input class="form-control" formControlName="title" type="text">
        </div>

        <div class="stretch">
            <label>Description</label>
            <textarea class="form-control form-text area" formControlName="description"></textarea>
        </div>

        <div>
            <label>Image Path</label>
            <input class="form-control" formControlName="imagePath" type="text">
        </div>

        <div>
            <label>Github URL</label>
            <input class="form-control" formControlName="githubUrl" type="text">
        </div>

        <div>
            <label>File Path</label>
            <input class="form-control" formControlName="filePath" type="text">
        </div>

        <div class="grid-container">
            <div class="d-flex gap-1">
                <label>Enable Website</label>
                <input class="form-check-input" formControlName="hasWebsite" type="checkbox">
            </div>

            <div class="d-flex gap-1">
                <label>Enable Favorite</label>
                <input class="form-check-input" formControlName="isFavorite" type="checkbox">
            </div>
        </div>

    </form>
</ng-template>