<game-session-config [sessionService]="jollyService"
                     [projectName]="projectName"
                     [(gameConfig)]="gameConfig"
                     [isValidConfig]="configForm.valid"
>
    <form class="main-container" [formGroup]="configForm">
        <section class="config-container">
            <div class="config-grid-container">
                <h3 class="config-header">Players</h3>
                <app-player-select [maxTeams]="6" formControlName="teams"></app-player-select>
            </div>

            <div class="config-grid-container">
                <h3 class="config-header">Settings</h3>

                <div class="round-limit-config">
                    Round Limit
                    <div class="flex-container round-limit-input">
                        <input class="number-input" type="number" min="1" formControlName="roundLimit">
                        <app-slider-checkbox formControlName="noRoundLimit" unCheckedText="L"
                                             checkedText="UL"/>
                    </div>
                </div>
            </div>
        </section>
    </form>
</game-session-config>