<app-main-header></app-main-header>

<div class="main-container info-container">
    <div class="default-info">
        <!--<div>Game Info</div>-->
        <div *ngIf="game">
            <img *ngIf="game.metadata.imageUrl" [ngSrc]="game.metadata.imageUrl" class="game-image" width="500" height="400" alt="">

            <div>
                <div>{{game.metadata.gameType}}</div>
                <div>{{game.metadata.playedAt | date:'MMM d, yyyy HH:mm' : '+0200'}}</div>
                <div>{{game.metadata.duration | duration}}</div>
                <div *ngFor="let player of game.metadata.players;let i = index">
                    <div>{{i + 1}}. {{player.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content></ng-template>
</div>

