.game-container {
    display: grid;
    grid-template-columns: auto 1fr;

    height: 600px;
    gap: 1rem;
}

.config {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: end;

    gap: 1rem;
}

.board {
    border: 1px solid black;
}