.game-container {
    display: grid;
    grid-template-columns: 300px 1fr;

    height: 600px;
    width: 1000px;
    gap: 2rem;
}

.config {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: end;

    gap: 1rem;
}

.board {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.board-tile {
    position: absolute;
}

.open-position {
    border: 1px solid lightgray;
    border-radius: 12%;
}

.valid-move {
    border: 1px solid red;
    border-radius: 12%;
}

.valid-move:hover {
    cursor: pointer;
}