<app-project-header></app-project-header>

@if (gameState) {
    <div class="game-container main-container">
        <div class="config">
            <qwirkle-hand [hand]="gameState.hand" (selectTilesEvent)="selectedInHand($event)"></qwirkle-hand>
            <qwirkle-stack [stack]="gameState.stack" (selectTileEvent)="selectedInStack($event)"></qwirkle-stack>
        </div>

        <div #board class="highlighted-container board">
            <!--board tiles-->
            <qwirkle-tile *ngFor="let boardTile of gameState.board"
                          [tile]="boardTile.tile"
                          [ngStyle]="getTilePositionStyle(boardTile.position)"
                          [isInteractive]="false"
                          class="board-tile"
            >
            </qwirkle-tile>

            <!--open positions-->
            <ng-container *ngFor="let posInfo of openPositions">
                <div *ngIf="!posInfo.isDead"
                     [ngStyle]="getTilePositionStyle(posInfo.position)"
                     class="board-tile open-position">
                </div>
            </ng-container>

            <!--valid move tiles-->
            <div *ngFor="let move of validMoves;let i = index"
                 [ngStyle]="getValidMoveGroupStyle(move)"
                 (click)="chooseValidMove(i)"
                 class="board-tile valid-move"
                >
            </div>
        </div>
    </div>
} @else {
    <button (click)="createState()">Start</button>
}