/*container styles*/
.config-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    max-width: 700px;
}

.config-header {
    align-self: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

    font-size: 1.2rem;
    font-weight: bold;
}

.config-grid-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-rows: 30% auto;

    min-height: 330px;
    text-align: center;

    padding: 0 1.5rem;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.temp {
    flex-direction: row;
    gap: 1rem;
}

select {
    border: solid 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 0.7rem;
    height: 30px;
    width: 125px;
}

@media (max-width: 900px) {
    .config-container, .game-container {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }

    .config-grid-container {
        width: 100%;
    }
}