.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
}

/*container styles*/
.config-container {
    grid-template-columns: 30fr 30fr 40fr;
    max-width: 1100px;
}

.config-grid-container-2 {
    grid-template-rows: 30% 15% auto;
}


/* dice mode styles */
.dice-mode-grid {
    display: grid;
    grid-template-columns: auto auto;

    row-gap: 0.5rem;
    column-gap: 3rem;
}

.dice-mode-classic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0.5rem;
}


/* dice settings styles */
.dice-settings {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.dice-settings-balance {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 4rem;
}

.dice-settings-random {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.dice-settings-layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 1rem;
}

.dice-settings-description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0;
    font-weight: lighter;
}

.dice-settings-options {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.config-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    margin-top: 2rem;
}

@media (max-width: 900px) {
    .config-container {
        grid-template-columns: 1fr;
    }
}