<div class="hand-actions">
    <i class="bi bi-x-circle clear-icon danger-color" (click)="tilesCleared()"></i>
</div>
<div class="highlighted-container hand-wrapper">
    <div class="hand-container">
        <ng-container *ngFor="let tile of paddedHand;let i = index">
            @if (tile) {
                <qwirkle-tile
                        [tile]="tile"
                        [tileSize]="tileSize"
                        [tileText]="selected.includes(tile) ? selected.indexOf(tile) + 1 : null"
                        (click)="tileSelected(i)"
                        [class.selected]="selected.includes(tile)"
                />
            } @else {
                <div class="empty-tile"
                        [ngStyle]="{width: tileSize + 'px', height: tileSize + 'px'}">
                </div>
            }
        </ng-container>
    </div>
</div>
