.info-container {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.team-entry {
    display: flex;

    gap: 1rem;
}

.game-info {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 3rem;

    padding: 0 1rem;
}

.meta {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    gap: 1rem;
}

.config {
    display: flex;
    justify-content: start;

    flex-direction: column;
}

.meta-entry {
    display: flex;
    align-items: start;
    justify-content: space-between;

    gap: 1rem;
}

.meta-label {
    font-weight: bold;
}

.teams {

}

.team-row {
    display: grid;
    grid-template-columns: 3fr 1fr;

    gap: 1rem;
}

.meta-text {

}

.result-info {

}

.winner-icon {
    color: gold;
    padding: 0 0.5rem;
}