.dice-header {
    align-self: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

    font-size: 1rem;
    font-weight: bold;
}

.game-container {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 30fr 23fr 47fr;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 2rem;
    min-height: 275px;
    max-width: 1100px;
    gap: 1.5rem;
}

.game-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    gap: 3rem;
}


/*players column*/
.players-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    border-left: 2px solid rgba(0, 0, 0, 0.5);
}

.players-container li {
    list-style: none;
    color: rgba(0, 0, 0, 0.25);
    padding: 0.7rem 15px 0.7rem 1rem;
}

#current-player {
    color: rgba(0, 0, 0, 0.8);
    zoom: 1.1;
    padding-left: 0;
    font-weight: bold;
}

#current-player::before {
    content: "\00BB  "
}


/*dice column*/
.dice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.6rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.7rem;
}

.card-info:has(:only-child) {
    justify-content: center;
}

.card-info-text {
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;
}

#roll-button {
    height: 125px;
    width: 125px;

    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;

    font-size: 20px;
    font-weight: normal;
}

#roll-button:hover {
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#alchemist-button {
    border-style: dashed;
    border-radius: 7px;
}


/*Ship column*/
.ship-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

#undo-button {
    font-weight: normal;
}

.ship-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.current-roll {
    display: flex;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

    padding: 0.3rem 2rem;
    min-width: 75%;
}

#current-roll-player {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);

    max-width: 75px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-roll-event {
    max-width: 75%;
    text-align: center;
}

.spacer {
    padding: 0 30px;
}

.ship-display {
    display: flex;
    justify-content: center;
}

.ship-tile-current {
    width: 30px;
    height: 30px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 4px;
    background-color: white;
    margin: 0 3px;
    border-radius: 15px;
}

.ship-tile-current:nth-child(7) {
    border-color: #DD1B1B;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.ship-tile-last {
    border: 1px solid #DD1B1B;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 28px;
    height: 28px;
    border-radius: 15px;
    margin: 0 3px;
    z-index: 999;
}

.ship-tile {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 28px;
    height: 28px;
    margin: 0 3px;
    border-radius: 15px;
}

.attack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold !important;
}

#leftover-list {
    width: 90%;
    margin: -25px auto 25px auto;
}

#leftover-list b {
    padding: 5px 0 0 0;
    margin: -3.5px 0 0 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
}

#leftover-list ol {
    display: grid;
    grid-template-columns: 130px repeat(15, 60px);
    row-gap: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 20px 25px 15px 25px;
}


@media (max-width: 900px) {
    .game-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;

        padding: 2rem 1rem;
        gap: 3rem;
        max-width: 400px;
    }
}