<div class="meta">
    <div>
        <game-stats-meta label="Rounds Played" [data]="stats().roundsPlayed.toString()"/>
        <game-stats-meta label="Win Rate" [data]="(stats().roundWinRate * 100).toFixed(2) + '%'"/>
    </div>

    <div>
        <game-stats-meta label="Min Round Score" [data]="stats().roundScoreMetrics.min"/>
        <game-stats-meta label="Max Round Score" [data]="stats().roundScoreMetrics.max"/>
        <game-stats-meta label="Avg Round Score" [data]="stats().roundScoreMetrics.avg.toFixed(2)"/>
    </div>

    <div>
        <game-stats-meta label="Min Round Duration" [data]="stats().roundDurationMetrics.min" [formatted]="stats().roundDurationMetrics.min.value | duration"/>
        <game-stats-meta label="Max Round Duration" [data]="stats().roundDurationMetrics.max" [formatted]="stats().roundDurationMetrics.max.value | duration"/>
        <game-stats-meta label="Avg Round Duration" [data]="stats().roundDurationMetrics.avg | duration"/>
    </div>

    <div>
        <game-stats-meta label="Closed rate" [data]="(stats().closedRate * 100).toFixed(2) + '%'"/>
        <game-stats-meta label="Out In One Rate" [data]="(stats().outInOneRate * 100).toFixed(2) + '%'"/>
    </div>
</div>
