.hand-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 15px;
}

.hand-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0.4rem;
}

.empty-tile {
    border-radius: 10%;
    border: solid 2px rgba(0, 0, 0, 0.25);
}

.clear-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.invalid {
    border: 1px solid green;
}