<div class="meta">
    <div>
        <game-stats-meta label="Game Count" [data]="stats().gameCount.toString()"/>
        <game-stats-meta label="Luck Metric" [data]="stats().luckMetric.toFixed(2)"/>
    </div>

    <div>
        <game-stats-meta label="Min Roll Duration" [data]="stats().rollDurationMetrics.min" [formatted]="stats().rollDurationMetrics.min.value | duration"/>
        <game-stats-meta label="Max Roll Duration" [data]="stats().rollDurationMetrics.max" [formatted]="stats().rollDurationMetrics.max.value | duration"/>
        <game-stats-meta label="Avg Roll Duration" [data]="stats().rollDurationMetrics.avg | duration"/>
    </div>

    <catan-histogram [diceRolls]="stats().diceRolls"/>
</div>