<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <!--<th scope="col">Ended</th>-->
        <th scope="col" *ngFor="let team of gameState().gameConfig.teams">{{ team.name }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let roundInfo of gameState().rounds;let i = index;">
        <th scope="row">{{i + 1}}</th>
        <!--<td>{{ roundInfo.endTime | date:'MMM d, yyyy HH:mm' }}</td>-->
        <td *ngFor="let round of roundInfo.results" class="score-cell">
            <span [class.closed]="round.hasClosed">{{ round.score }}</span>
            <span *ngIf="round.outInOne" class="out-in-one">•</span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="table-light">
        <th scope="row">Total</th>
        <td *ngFor="let team of gameState().gameConfig.teams" class="fw-bold">
            {{ getTotalScore(team) }}
        </td>
    </tr>
    </tfoot>
</table>