.search-form {
    min-width: 500px;
    max-width: 500px;
    justify-self: center;
}

.search-input {
    display: flex;
    justify-content: center;

    gap: 0.5rem;
}

.search-input input {
    max-width: 400px;
}

::ng-deep .wide-popover {
    width: 320px; /* desired width */
    max-width: none !important;
}

::ng-deep .wide-popover .popover-arrow {
    display: none !important;
}
